<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>首页</h1>
<br><form th:action="@{/testRequestBody}" method="post">

    账号：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit" value="测试 @RequestBody"><br>
</form>

<br><br><br>
------------------------------------------------------------
<br><br><br>

<br><form th:action="@{/testRequestEntity}" method="post">

    账号：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit" value="测试 @RequestEntity"><br>
</form>


<br><br><br>
------------------------------------------------------------
<br><br><br>


<a th:href="@{/testResponse}">测试通过ServletAPI 的 response 对象来相应浏览器数据</a><br>
<a th:href="@{/testResponseBody}">测试 @ResponseBody </a><br>
<a th:href="@{/testResponseUser}">通过 @Response 相应浏览器 User 对象 </a><br>
<div id="app">
    <a @click="testAxios" th:href="@{/testAxios}">测试 SpringMVC 处理 Ajax 请求</a>
</div>
<script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
<script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
<script type="text/javascript">
    new Vue({
        el:"#app",
        methods:{
            testAxios:function (event){
                console.log(event)
                axios({
                    method:"post",
                    url: event.target.href,
                    params:{
                        username:"admin",
                        password:"123"
                    }
                }).then(function (response){
                    alert(response.data);
                });
                event.preventDefault();
            }
        }
    })
</script>
</body>
</html>